*{
   margin: 0px;
   
}
.headerT{
    background-color: #4682B4;
    color: white;
}
.headerT ul{
    list-style-type: none;
    
}
.headerT li{
    font-size: 20px;
    display: inline-block;
    margin-top: 0px;
    padding-top: 40px;
    text-align: center;
}
.header li a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
    border-right: 2px solid white;
}
h1{
    font-size: 50px;
    padding: 0px;
    margin-bottom: 10px;
}
h5{
    padding-top: 0px;
    margin-top: 0px;
}

.Utilities{
    width: 33.33%;
    display: inline-flex;
    padding-left: 1000px ;
    margin-top: 0px;
    
}
.Link-for a{
    border: 1px solid #6E7B8B;
    color: white;
}

.mainNavigation ul{
    list-style-type: none;
    background-color:#27408B ;
    padding: 20px;
    text-align: center;
    flex: 1;
    justify-content: space-between;
}
.mainNavigation ul li {
    display: inline-block;
    line-height: 20px;
}
.mainNavigation ul li a{
    font-size: 20px;
    border-right: #27408B;
    
    padding: 20px;

}
.mainNavigation ul li a:hover{
    background-color: #191970;
    color: white;
    
}
.images img{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    
}
.sologan{
    display: flex;
    background-color: yellowgreen;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}
h2{
    padding: 20px 40px;
    font-size: 45px;
    flex: 4;
}
p{
    padding: 20px;
    font-size: 20px;
    flex: 6;
}
.Navigation-Buttons ul{
    list-style-type: none;
    text-decoration: none;
    background-color: white;
    color: blue;
    font-size: 20px;
    margin: 60px 40px;
    text-align: center;
    grid-template-columns: 25% 25% 25% 25%;
    
}
.Navigation-Buttons ul li{
    display: inline-block;
}
.Navigation-Buttons ul li a{
    text-decoration: none;
    border: 1px solid blue;
    padding: 20px 40px;
    margin-right: 40px;
    width: 20px;
    font-weight: 20px;
    justify-content: space-between;
    
}
.Navigation-Buttons ul li a:hover{
    background-color: #27408B;
    color: white;
}
.Callout-blocks ul{
    list-style-type: none;
    font-size: 10px;
    padding: 10px;
    
}
.Callout-blocks ul li{
    display: inline-block;
}
.Callout-blocks ul{
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Callout-blocks ul li{
    list-style: none;
    flex : 0 0 32%;
    height: 300px;
    margin: 10px 0;
    background-color: gray;
}
.Callout-blocks ul li:nth-child(4){
    background-color: #800080;
    color: white;
}
.Callout-blocks ul li:nth-child(5){
    background-color: #00CDCD;
    color: white;
    
}
